.container {
    display: flex;

    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social {
    display: flex;
    gap: 10px;
    flex: 1;

}

.logo {
    flex: 1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    
}

.links {
    display: flex;
    gap: 20px;
    flex: 1;
    font-size: 16px;
    align-items: center;
}

@media screen and (max-width:1000px) {
    .logo{
        font-size: 22px;
    }

}

@media screen and (max-width:800px) {
    .logo{
        font-size: 18px;
    }
    .links{
        gap: 15px;
        font-size: 12px;
    }

}

@media screen and (max-width:700px) {
    .logo{
        text-align: left;
    }
    .social{
        display: none;
    }

}

@media screen and (max-width:640px) {
    .link{
        display: none;
    }
    .links{
        justify-content: flex-end;
    }

}